@use 'nav.scss';
@use 'footer.scss';
$colorA: #A31D1D;
$colorB: white;

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image: url('foto/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    display: inline-block;
    margin-top: 5%;
    
}

.form-container {
    left: 5%;
    width: 300px;
    padding: 20px;
    position: relative;
}

h2 {
    color: $colorA;
    position: absolute;
    margin: auto;
    top: 15%;
    left: 17%;
}

label {
    top: 50%;
    display: block;
    margin: 20px 0 10px;
    color: $colorB;
}

input[type="text"],
input[type="email"],
textarea {
    
    width: 150%;
    padding: 10px;
    border: 1px solid $colorA;
    border-radius: 25px;
    margin-bottom: 5px;
}

button {
    position: absolute;
    left: 25%;
    top: 120%;
    width: 100%;
    padding: 10px;
    background-color: $colorA;
    color: $colorB;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: $colorA;
    background-color: $colorB;
}

h3 {
    color: $colorA;
    position: absolute;
    margin: auto;
    right: 15%;
    top: 15%;
}

.phone{
    color: $colorB;
    position: absolute;
    margin: auto;
    right: 26%;
    top: 20%;
    font-size: 20px;
}
.email{
    color: $colorB;
    position: absolute;
    margin: auto;
    right: 19%;
    top: 35%;
    font-size: 20px;
}
.alamat{
    color: $colorB;
    position: absolute;
    margin: auto;
    right: 22%;
    top: 50%;
    font-size: 20px;
}