$colorA: #A31D1D;
$colorB: white;

footer {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 42%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    display: inline;
}

.footer-container a {
    color: $colorB;
    text-decoration: none;
}

.footer-container a:hover {
    color: $colorA;
    text-decoration: underline;
}