$warnaPrimer: white;
$warnaSekunder:#A31D1D;

.nav-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px 45px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        position: absolute;
        
        

        li {
            
            display: inline-block;
            padding: 10px 45px;
            
           

            a {
                display: block;
                // padding: 6px 12px;
                color: $warnaPrimer;
                font-size: 15px;
                text-decoration: none;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
                &:hover {
                    color: $warnaSekunder;
                }
            }
        }
    }
}